.form {
  display: flex;
  padding: 10px;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  border: 1px solid black;

  &__name-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__name-input {
    border: 1px solid black;
    border-radius: 5px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
}